.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
  margin-bottom: 20px;
  img {
    margin: 0 auto;
    padding: 0 10px;
    background: white;
  }
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.harmonic-head {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

.button-group {
  padding-top: 50px;
}

.table {
  th, tr {
    width: 21%;
  }
  th:first-of-type, tr:first-of-type {
    width: 7%;
  }
  th:last-of-type, tr:last-of-type {
    width: 30%;
  }
  .btn {
    width: 44%;
    &:first-of-type, &:last-of-type {
      width: 26%;
    }
  }
}
